@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
}


body{
    display: flex;
    color: rgb(190, 81, 190);
    background-color: rgb(31, 29, 29); 
}

/* background and image property */
.img-background{
    background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
	width: max-content;
	height: 980px;
	display: flex;
	flex-direction: column;  
}

/* logo property */
.logo{
    height: 270px;
    opacity: 0.7;
}

/* logo black background property */
.logo-background{
	width: max-content;
    height: 230px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40vh;
}

.logo-background h1{
    font-family: 'Silkscreen', cursive;
    font-size: 55px;
    font-weight: bold;
    color: rgb(199, 93, 199);
    overflow:hidden
}

.main{
    display: flex;
    flex-direction: column;    
}

form{
    display: flex;
    height: fit-content;
    width: 100%;
    box-shadow: 0px 5px 5px rgb(190, 81, 190);
    margin-top: 30px;
}

.text{
    margin-top: 40px;
    margin-left: 50px;
    white-space: pre;    /* pre allows to write it the sameway as we do it in an editor */          
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
}

input{
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    resize: none;
    outline: none;
    
}

input,label{
    display: block;
    font-family: 'Signika Negative', sans-serif;
}

input:invalid {
    border: 3px solid red;
}
  
input:valid {
    border: 3px solid green;
}
input:focus{
    border: 2px solid rgb(190, 81, 190);
}

/* used to remove the number up and down arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* aligns form elements in 2x2x2 format */
.form-elements{
    float: left;
    margin-right: 150px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn{
    margin-top: 30px;
    margin-left: 60px;
    width: 200px;
    height: 50px;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(199, 93, 199);
    border:0px;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;  
}

 #last-para{
    margin-top: 30px;
    margin-left: 60px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
 }

 #last-para a{
    text-decoration: none;
    color: pink;
 }

 .credits{
    position: absolute;
    bottom: 0px;
    left: 12%;  
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.2rem;
 }

 .credits a{
    text-decoration: none;
    color: pink;
 }

